/***********************************/
/*          layout.clean           */
/***********************************/
.cleanlayout{
    background: url('/images/wallpaper.jpeg')  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    height:100%;
    width: 100%;
  }
  .cleanlayout .clean-layout-wrapper{
    padding: $login-wrapper-padding;
    background: white;
    border-radius: 10px;
    margin-top: 300px;
  }
  
  .cleanlayout .form-heading{
    display: block;
    width: calc(100% + #{$login-wrapper-padding}*2);
    background: $elcol-third;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: -$login-wrapper-padding;
    margin-left: -$login-wrapper-padding;
    margin-right: -$login-wrapper-padding;
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .cleanlayout .clean-layout-form button.submit{
    display: block;
    width: 100%;
    background: $elcol-third;
    color: white;
  }
  /************** login form bottom *****************/
  .cleanlayout .clean-layout-form div.bottom{
    margin-top: 3px;
    margin-bottom: 10px;
  }
  .cleanlayout .clean-layout-form div.bottom div{
    display: inline-block;
  }
  .cleanlayout .clean-layout-form div.bottom div.forgot a{
    margin: 0;
    padding: 0;
    color: $elcol-third;
  }
  .cleanlayout .clean-layout-form div.bottom div.remind{
    float: right;
  }
  .cleanlayout .clean-layout-form div.bottom div.remind div.checkbox{
    margin:0;
  }
  .cleanlayout .clean-layout-form div.bottom div.remind input{
    margin-left: -13px;
  }