/***********************************/
/*              all                */
/***********************************/
html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: $col-font;
  background-color: $elcol-bg;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div.paper{
  background-color: white;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  box-shadow: $shadow-1;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0;
}
.row{
  margin: 0; // normally -15px, but container is also 0
}

/***********************************/
/*              links              */
/***********************************/
a, a:link, a:visited{
  color: $col-link;
  text-decoration: none;
  &:hover, &:active{
    color: $col-linked;
    text-decoration: none;
    cursor: pointer;
  }
}

/***********************************/
/*               header            */
/***********************************/
header{
  background-color: $elcol-main;
  border-bottom: $border-main;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: $height-header;
  padding: 0 15px;
  z-index: 1002;
}

.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

a.logo {
  font-size: 20px;
  color: #ffffff;
  float: left;
  margin-top: 15px;
  text-transform: uppercase;
}

a.logo b {
  font-weight: 900;
}

a.logo:hover,
a.logo:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: #68dff0;
}

/***********************************/
/*              sidebar            */
/***********************************/
aside.sidebar{
  background-color: $elcol-second;
  padding-top: $height-header;
  width: $width-sidebar;
  height: 100%;
  position: fixed;
}

.sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}
.sidebar .profile-btns{
  text-align: center;
  margin-bottom: 10px;
}

.sidebar .profile-btns a{
  background: $elcol-third;
  color: white;
  padding: 3px 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
}

.sidebar ul li {
    position: relative;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu{
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

ul.sidebar-menu li{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}

/***********************************/
/*              main-content       */
/***********************************/
.main-content{
  padding-left: $width-sidebar;
}
.wrapper{
  display: inline-block;
  margin-top: $height-header;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}


/***********************************/
/*              Dashboard          */
/***********************************/
.box-holder{
  text-align: center;
  color: $col-expressed;
  transition: all $trans-time-box ease-in-out;
  margin-top: 150px;
}
.box-holder span.subtext{
  position: relative;
  top: -20px;
}
.box{
  text-align: center;
  color: $col-expressed;
  border-bottom: 1px solid $col-expressed;
  transition: border-color $trans-time-box ease-in-out;
  padding: 15px;
}

/*----------  spans  ----------*/
.box-holder span{
  color: $col-expressed;
  display: block;
}
.box-holder span.subtext{
  opacity: 0;
  transition: opacity $trans-time-box linear;
}
.box span.icon i{
  font-size: 64px;
}
.box span.num {
  font-size: 28px;
  margin-top: 15px;
}


/*----------  hover  ----------*/
.box-holder:hover{
  transform: scale(1.2);
}
.box-holder:hover .box{
  border-color: $elcol-bg;
}
.box-holder:hover span.subtext{
  opacity: 1;
}

/***********************************/
/*          Projects table         */
/***********************************/
.projects-table td.action-buttons a{
  color: white;
}

/***********************************/
/*              rightsidebar       */
/***********************************/
.rightsidebar{
  background-color: #fff;
}

.rightsidebar > section {
  margin-top: 25px;
}

.rightsidebar h3{
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background: #FF865C;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.add-link-table{
  width: 100%;
}
.add-link-table td{
  padding: 3px 5px;
}
.add-link-table tr td:first-child{padding-left: 0;}
.add-link-table tr td:last-child{padding-left: 0;}

/***********************************/
/*              footer              */
/***********************************/
footer p{
  text-align: center;
  color: $col-muted;
}

@media (min-width: 768px){
  .navbar-collapse{
    padding: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}

/***********************************/
/*              misc              */
/***********************************/
.text-center,
.centered{
  text-align: center;
}