/***********************************/
/*              all                */
/***********************************/
body{
  color: $col-font;
  background-color: $elcol-bg;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div.paper{
  background-color: white;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  box-shadow: $shadow-1;
}

/***********************************/
/*              links              */
/***********************************/
a, a:link, a:visited{
  color: $col-link;
  text-decoration: none;
  &:hover, &:active{
    color: $col-linked;
    text-decoration: none;
    cursor: pointer;
  }
}

/***********************************/
/*              site header        */
/***********************************/
header{
  background-color: $elcol-main;

  padding-top: 48px;
  padding-bottom: 48px;
}
.siteheading{
  display: inline-block;
  color: $col-white;
  font-size: 63px;
}
img.sitelogo{
  width: 67px;
  vertical-align: top;
}
h1.siteheading{
  padding: 0;
  margin: 0;
}
.jumbotron{
  margin: 0;
}
/***********************************/
/*              navbar             */
/***********************************/
.navbar-default{
  background: none;
  border: none;
}

.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > a:link,
.navbar-default .navbar-nav > a:visited{
  background: none;
  color: $col-font;
}
.navbar-default .navbar-nav > a:active,
.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:link,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  color: $col-white;
  background-color: $elcol-main;
}

/***********************************/
/*              footer              */
/***********************************/
footer p{
  text-align: center;
  color: $col-muted;
}

@media (min-width: 768px){
  .navbar-collapse{
    padding: 0;
  }
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}
