//fonts
$fa-font-path: "/fonts";

// colors
$col-main: #222642;
$col-second: #3a97f8;
$col-third: #ffbc00;
$col-muted: #a2a4b0;
$col-link: #C92F2F;
$col-linked: #781B1B;
$col-bg: #fff;


// old colors
$col-font: $col-main;
$col-expressed: $col-muted;
$col-white: $col-bg;

// element colors
$elcol-main: $col-bg;
$elcol-second: $col-main;
$elcol-third: $col-second;
$elcol-bg: $col-bg;

//shadows
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

//sizes
$width-sidebar: 250px;

// borders
$border-main: 1px solid #c9aa5f;

// transition time
$trans-time-box: 200ms;

// Clean Layout
$login-wrapper-padding: 15px;

// snippets
$header-padding: 25px;
$header-font-size: 1.4em;
