/***********************************/

/*              main-content       */

/***********************************/

.main-content {
    padding-left: $width-sidebar;
}

.wrapper {
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}
